USE [master]
GO
/****** Object:  Database [MyCoffeeWebApp]    Script Date: 5/12/2024 10:01:08 PM ******/
CREATE DATABASE [MyCoffeeWebApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyCoffeeWebApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.LY\MSSQL\DATA\MyCoffeeWebApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyCoffeeWebApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.LY\MSSQL\DATA\MyCoffeeWebApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyCoffeeWebApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyCoffeeWebApp]
GO
/****** Object:  Table [dbo].[ALCOHOL_COLLECTS_MONEY]    Script Date: 5/12/2024 10:01:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALCOHOL_COLLECTS_MONEY](
	[ALCOHOL_COLLECTS_MONEY___QUANTITY] [float] NOT NULL,
	[DATE_ID] [date] NULL,
	[TYPE_OF_WINE___ID] [nvarchar](50) NOT NULL,
	[ALCOHOL_COLLECTS_MONEY___PRICE] [bigint] NOT NULL,
	[ALCOHOL_COLLECTS_MONEY___ID] [char](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ALCOHOL_COLLECTS_MONEY___ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALCOHOL_SPENDING_MONEY]    Script Date: 5/12/2024 10:01:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALCOHOL_SPENDING_MONEY](
	[ALCOHOL_SPENDING_MONEY___ID] [bigint] NOT NULL,
	[DATE_ID] [date] NULL,
	[ALCOHOL_SPENDING_MONEY___CONTENT] [varchar](200) NOT NULL,
	[ALCOHOL_SPENDING_MONEY___QUANTITY] [float] NOT NULL,
	[ALCOHOL_SPENDING_MONEY___NOTE] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[ALCOHOL_SPENDING_MONEY___ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COLLECT_MONEY]    Script Date: 5/12/2024 10:01:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLLECT_MONEY](
	[CLMN_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DATE] [date] NOT NULL,
	[MN_ID] [int] NOT NULL,
	[CLMN_QUANLITY] [int] NOT NULL,
	[CLMN_PRICE] [bigint] NOT NULL,
	[CLMN_NOTE] [nvarchar](300) NULL,
 CONSTRAINT [PK_COLLECT_MONEY] PRIMARY KEY NONCLUSTERED 
(
	[CLMN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATE]    Script Date: 5/12/2024 10:01:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATE](
	[DATE] [date] NOT NULL,
	[date_name] [date] NULL,
	[note] [nvarchar](1000) NULL,
 CONSTRAINT [PK_DATE] PRIMARY KEY NONCLUSTERED 
(
	[DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENU]    Script Date: 5/12/2024 10:01:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENU](
	[MN_ID] [int] IDENTITY(1,1) NOT NULL,
	[MN_PRODUCTNAME] [nvarchar](200) NOT NULL,
	[MN_PRICE] [bigint] NULL,
 CONSTRAINT [PK_MENU] PRIMARY KEY NONCLUSTERED 
(
	[MN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SPENDING_MONEY]    Script Date: 5/12/2024 10:01:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPENDING_MONEY](
	[SPENDING_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DATE] [date] NOT NULL,
	[SPENDING_CONTENT] [nvarchar](150) NOT NULL,
	[SPENDING_QUANLITY] [int] NOT NULL,
	[SPENDING_PRICE] [bigint] NOT NULL,
	[SPENDING_NOTE] [varchar](150) NULL,
 CONSTRAINT [PK_SPENDING_MONEY] PRIMARY KEY NONCLUSTERED 
(
	[SPENDING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TYPE_OF_WINE]    Script Date: 5/12/2024 10:01:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPE_OF_WINE](
	[TYPE_OF_WINE___ID] [nvarchar](50) NOT NULL,
	[TYPE_OF_WINE___NAME] [varchar](150) NOT NULL,
	[TYPE_OF_WINE___PRICE] [bigint] NOT NULL,
 CONSTRAINT [PK_TYPE_OF_WINE] PRIMARY KEY CLUSTERED 
(
	[TYPE_OF_WINE___ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_1_FK]    Script Date: 5/12/2024 10:01:08 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_1_FK] ON [dbo].[COLLECT_MONEY]
(
	[MN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_2_FK]    Script Date: 5/12/2024 10:01:08 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_2_FK] ON [dbo].[COLLECT_MONEY]
(
	[DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_3_FK]    Script Date: 5/12/2024 10:01:08 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_3_FK] ON [dbo].[SPENDING_MONEY]
(
	[DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ALCOHOL_COLLECTS_MONEY]  WITH CHECK ADD  CONSTRAINT [FK_AlcoholCollectsMoney_date] FOREIGN KEY([DATE_ID])
REFERENCES [dbo].[DATE] ([DATE])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ALCOHOL_COLLECTS_MONEY] CHECK CONSTRAINT [FK_AlcoholCollectsMoney_date]
GO
ALTER TABLE [dbo].[ALCOHOL_COLLECTS_MONEY]  WITH CHECK ADD  CONSTRAINT [FK_AlcoholCollectsMoney_TypeOfWine] FOREIGN KEY([TYPE_OF_WINE___ID])
REFERENCES [dbo].[TYPE_OF_WINE] ([TYPE_OF_WINE___ID])
GO
ALTER TABLE [dbo].[ALCOHOL_COLLECTS_MONEY] CHECK CONSTRAINT [FK_AlcoholCollectsMoney_TypeOfWine]
GO
ALTER TABLE [dbo].[ALCOHOL_SPENDING_MONEY]  WITH CHECK ADD  CONSTRAINT [FK_ALCOHOL_SPENDING_MONEY_date] FOREIGN KEY([DATE_ID])
REFERENCES [dbo].[DATE] ([DATE])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ALCOHOL_SPENDING_MONEY] CHECK CONSTRAINT [FK_ALCOHOL_SPENDING_MONEY_date]
GO
ALTER TABLE [dbo].[COLLECT_MONEY]  WITH CHECK ADD  CONSTRAINT [FK_COLLECT__RELATIONS_DATE] FOREIGN KEY([DATE])
REFERENCES [dbo].[DATE] ([DATE])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COLLECT_MONEY] CHECK CONSTRAINT [FK_COLLECT__RELATIONS_DATE]
GO
ALTER TABLE [dbo].[COLLECT_MONEY]  WITH CHECK ADD  CONSTRAINT [FK_COLLECT__RELATIONS_MENU] FOREIGN KEY([MN_ID])
REFERENCES [dbo].[MENU] ([MN_ID])
GO
ALTER TABLE [dbo].[COLLECT_MONEY] CHECK CONSTRAINT [FK_COLLECT__RELATIONS_MENU]
GO
ALTER TABLE [dbo].[SPENDING_MONEY]  WITH CHECK ADD  CONSTRAINT [FK_SPENDING_RELATIONS_DATE] FOREIGN KEY([DATE])
REFERENCES [dbo].[DATE] ([DATE])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SPENDING_MONEY] CHECK CONSTRAINT [FK_SPENDING_RELATIONS_DATE]
GO
USE [master]
GO
